* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#gameContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  display: block; /* Ensure the canvas is a block element */
}
